@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@media (max-width:700px)
{
  body
 {
  text-align:center;
  font-size:14px;
  background-color:#fff;
  height:100%;
  font-family: 'Poppins', sans-serif;
 }
  *
  {
    box-sizing:border-box;
  }
  .logo
  {
    width:50px;
    height:50px;
  }
  nav
  {
    top:0;
    left:0;
    width:100%;
    position:fixed;
    background-color:#e5e7e9;
    justify-content:space-between;
    align-items:center;
    display:flex;
    height:70px;
    padding-right:20px;
    padding-left:20px;
    z-index:99999;
  }
  ul
  {
   position:absolute;
   top:50px;
   flex-direction:column;
   left:0;
   right:0;
   background-color:#e5e7e9;
   overflow:hidden;
   height:200px;
  }
 .border2
 {
  border-bottom:1px solid #a6acaf;
  width:200px;
  width:87%;
 }
 i
 {
  margin-right:10px;
 }
 .link
 {
  margin-right:30px;
 }
 ul li a
  {
    position:relative;
    color:#333;
    font-size:16px;
    font-weight:600;
    text-decoration:none;
   cursor:none;
  }
 ul li a:before
  {
    content:'';
    position:absolute;
    bottom:0;
    left:0;
    height:3px;
    width:0%;
    background:#000;
    border-radius:12px;
    transition:all 0.4s ease;
  }
  ul li a:hover:before
  {
    width:100%;
  }
  li
  {
   list-style:none;
   text-align:start;
   margin:10px 0;
  }
  
  .profile
  {
    font-size:22px;
    font-weight:700;
  }
  .align-survey
  {
    margin-top:100px;
    max-width:500px;
    margin-left:auto;
    margin-right:auto;
  }
  .text-pro, .link-profile
  {
    text-decoration:none;
    font-weight:700;
    color:#000;
   cursor:none;
  }
  .survey-pic
  {
    width:260px;
    height:230px;
  }
  .profile-pic
  {
    border:1px solid #e5e7e9;
    border-radius:10px;
    width:280px;
    margin-top:30px;
    margin-left:auto;
    margin-right:auto;
  }
  .profile-pic:hover
  {
    transform:scale(1.1);
    transition:all 0.5s ease;
  }
  .span
  {    
    cursor:none;
    margin-top:-5px;
    border:1px solid #bdcbc0;
    padding:7px;
    border-radius:10px;
    align-items:center;
  }
  .bar1, .bar2, .bar-1
  {
    background-color:#000;
    width:20px;
    height:3px;
    margin:3px 0;
    border-radius:3px;
    transition:all .5s ease;
  }
  .bar2
  {
    width:13px;
    border-radius:3px;
    height:3px;
    margin:3px 0;
    background-color:#000;
  }
  .change .bar1
  {
    transform:translate(0,6px)rotate(-50deg);
  }
  .change .bar-1
  {
    transform:translate(0,-6px)rotate(50deg);
  }
  .change .bar2
  {
    opacity:0;
  }
  #openlink
  {
    transition:all .5s ease;
  }
}
@media (min-width:701px)
{
  body
  {
    text-align:center;
    font-size:15px;
    font-family: 'Poppins', sans-serif;
    background-color:#fff;
    height:100%;
  }
  *
  {
    box-sizing:border-box;
  }
  .badge, .span
  {
    display:none;
  }
  .nav-style
  {
    top:0;
    left:0;
    width:100%;
    background-color:#e5e7e9;
    position:fixed;
    align-items:center;
    display:flex;
    height:75px;
    justify-content:space-between;
    padding-right:20px;
    padding-left:20px;
    z-index:99999;
  }
  .logo
  {
    width:70px;
    cursor:pointer;
  }
  ul li a
  {
    position:relative;
    color:#333;
    font-size:16px;
    font-weight:600;
    text-decoration:none;
    cursor:pointer;
  }
  ul
  {
    display:flex;
    align-items:center;
    gap:20px;
    margin-right:100px;
  }
  li
  {
    list-style:none;
  }
  ul li a:before
  {
    content:'';
    position:absolute;
    bottom:0;
    left:0;
    height:3px;
    width:0%;
    background:#000;
    border-radius:12px;
    transition:all 0.4s ease;
  }
  ul li a:hover:before
  {
    width:100%;
  }
  .align-survey
  {
    margin-top:100px;
    max-width:500px;
    margin-left:auto;
    margin-right:auto;
  }
  .profile
  {
    font-size:22px;
    font-weight:700;
  }
  .text-pro, .link-profile
  {
    text-decoration:none;
    font-weight:700;
    color:#000;
  }
  .survey-pic
  {
    width:250px;
    height:230px;
  }
  .profile-pic
  {
    border:1px solid #e5e7e9;
    border-radius:10px;
  }
  .profile-pic:hover
  {
    transform:scale(1.1);
    transition:all 0.5s ease;
  }
  .align-pic
  {
    display:flex;
    justify-content:center;
    gap:20px;
  }
}